/*

font-family: 'Mea Culpa', cursive;
font-family: 'Phudu', cursive;
font-family: 'Rubik Iso', cursive;

*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(170, 170, 170);
}

header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: rgba(0, 0, 0, 0.678);
    color: rgb(0, 81, 255);
    font-size: 35px;
    font-family: 'Mea Culpa', cursive;
}

header h1{
    margin-top: 5px;
    filter: drop-shadow(6px 6px 10px black);
}

input{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin: 5px 10px;
    height: 30px;
    font-size: 20px;
}

label{
    font-size: 25px;
    font-family: 'Phudu', cursive;
    margin: 10px 0 10px 10px;
}

button{
    font-size: 18px;
    font-family: 'Phudu', cursive;
}

#Entrada, #AdicionarProduto{
    display: flex;
    flex-direction: column;
}

#Entrada button, #AdicionarProduto button{
    max-width: 150px;
    padding: 5px 10px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    margin: 5px 10px;
}

#Entrada button{
    width: 120px;
    background-color: rgb(0, 81, 255);
}

#Entrada{
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(170, 170, 170);
}

.containerEntrada{
    width: 100%;
}

#nomeProduto{
    width: 150px;
}

#valorEntrada, #precoProduto{
    width: 70px;
}

#AdicionarProduto{
    padding: 20px 0;
    background-color: rgb(190, 190, 190);
}

#AdicionarProduto button{
    width: 120px;
    margin: 10px auto;
    background-color: rgb(0, 81, 255);
}

.containerProduto{
    margin: 10px 0;
}

table{
    width: 96%;
    margin: 15px 2%;
    text-align: left;
    padding: 10px;
    background-color: rgb(100, 100, 100);
}

table th{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}


.tableBorder{
    border-bottom: 1px solid black;
}

#Total{
    width: 98%;
    margin: 20px 1%;
    border: 1px solid black;
}

#Total div{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

#totalSpan{
    color: rgb(0, 81, 255);
}

#limparTudo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#limparTudo button{
    width: 150px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 60px;
    font-family: 'Mea Culpa', cursive;
    background-color: black;
    color: white;
    font-size: 20px;
}

footer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 100px auto 10px;
    font-weight: 200;
    font-family: 'Phudu', cursive;
}

footer p{
    filter: drop-shadow(2px 2px 2px white);
}

footer span{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Mea Culpa', cursive;
    filter: drop-shadow(4px 4px 4px rgb(0, 81, 255));
}

@media (max-width: 550px){
    header{
        font-size: 25px;
        height: 55px;
    }

    label{
        font-size: 18px;
    }

    #Entrada{
        padding-top: 15px;
    }

    input{
        padding: 3px 5px;
        height: 25px;
        font-size: 18px;
        outline: none;
    }
}